.pantalla-input{
    height: 75px;
    border-radius: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(7, 2, 2);
    color:whitesmoke;
    padding: 11px 30px 11px 11px;
    margin: 1px solid #888;
    
    
}